.swiper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.swiper .swiper-slide .slide_title_container {
  color: #B58A4C;
  font-size: 150px;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  font-family: 'Oswald', sans-serif;
  padding-top: 500px;
  width: 500px;
  float: left;
}
.swiper .swiper-slide>.slide_img {
  display: flex;
  justify-content: flex-end;
  animation: bounce 3s infinite ease-in-out;

}
.swiper .swiper-slide .slide_img>img {
  max-width: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(-5px);
  }
}
.left_aside_btn_container .swiper-button-next{
  position: absolute;
  top: 80%;
  left: 120px;
  color: rgba(255, 255, 255, 0.445);
}
.left_aside_btn_container .swiper-button-prev {
  position: absolute;
  top: 80%;
  left: 70px;
  color: rgba(255, 255, 255, 0.445);
}
.our_slider {
  height: 700px;
}
.slick-track {
  height: 650px;
}
.slick-slide {
  width: 440px;
  height: auto;
}
.our_slider .our_slide {
  margin:10px;
  padding: 40px 40px;
  text-align: center;
  background: #F8F7F5;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 16%);
}
.our_slider .our_slide:last-child {
  margin: 0;
}
.slick-center .our_slide {
  transform: scale(1.2);
}
.our_slider .our_slide .our_slide_img img{
  margin: 0 auto;
}
.slick-center #center_text {
  color: #fff;
  background-color: #F15922;
}
.our_slider .our_slide .our_slide_text {
  background-color: #B58A4C;
  margin-top: 20px;
  padding: 10px;
}
.our_slider .our_slide .our_slide_text h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}
.our_slider .our_slide .our_slide_text h5 {
  font-size: 14px;
}
.slick-prev {
  position: relative;
  top: 50%;
  transform: translate(-50%);
  left: 0;
  z-index: 1;
  border: 1px solid #B58A4C;
  padding: 10px;
  overflow: hidden;
}
.slick-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 50px;
  height: 50px;
}
.slick-next {
  position: relative;
  top: -49.4%;
  left: 100%;
  z-index: 1;
  border: 1px solid #B58A4C;
  padding: 10px;
}
.review_section {
  background-image: url(../img/bg.jpg);
  padding: 100px 0;
  position: relative;
}
.review_section .review_slider {
  width: 80%;
  height: 675px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 15px 30px rgb(181 138 76 / 30%);
  z-index: 3;
}
.review_section::before {
  position: absolute;
  top: 5%; left: 15%;
  content: "";
  width: 25%;
  height: 90%;
  border: 30px solid #B58A4C;
  z-index: 0;
}
.review_section .review_slider .review_slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 70px;
}
.review_section .review_slider .review_slide .review_slide_text_box {
  padding: 200px 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.review_section .review_slider .review_slide .review_slide_text_box p {
  line-height: 1.8;
  font-size: 18px;
}
.review_section .review_slider .review_slide .review_slide_text_box .review_slide_text_box_name {
  width: 50%;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
  color: #F15922;
  margin-top: 30px;
}
.review_section .review_slider .review_slide .review_slide_text_box .review_slide_text_box_sub_name {
  width: 45%;
  text-align: center;
}
.review_section .review_slider .review_slide .review_slide_img_box {
  position: relative;
  padding-bottom: 180px;
}
.review_section .review_slider .review_slide .review_slide_img_box::after {
  position: absolute;
  top: -55px; left: 220px;
  content: "";
  border-right: 20px solid #B58A4C;
  border-top: 20px solid #B58A4C;
  border-bottom: 20px solid #B58A4C;
  width: 50%;
  height: 90%;
}
.review_section .review_slider .review_slide .review_slide_img_box img {
  width: 350px;
}
.review-prev {
  position: absolute;
  bottom: 40px; left: 120px;
  font-size: 27px;
  z-index: 1;
  transition: all 0.3s;
}
.review-next {
  position: absolute;
  bottom: 40px; left: 140px;
  font-size: 27px;
  z-index: 1;
  transition: all 0.3s;
}
.review-prev:hover  {
  font-size: 30px;
}
.review-next:hover {
  font-size: 30px;
}